<div class="container">
    <div class="mt-12 content"> 
        <div class="mt-4 bg-lite rounded">
        <img [src]="uservice.getUser()?.pictureUrl" class="rounded-circle" [alt]="uservice.getUser()?.name" referrerpolicy="no-referrer" width="40" > 
        <h6>{{feed.user}}</h6>
        <p>{{feed.status}}</p> 
        </div>
    </div>
    <div class="input-group" *ngIf="uservice.getUser()">
        <img [src]="uservice.getUser()?.pictureUrl" class="rounded-circle" [alt]="uservice.getUser()?.name" referrerpolicy="no-referrer" width="20" > 
        <input type="text" class="comments form-control" placeholder="Add a comment">
        <button class="btn btn-primary" type="submit">Comment</button>
    </div>
</div>