.container{
    border:0.5px solid lightgrey;
    border-radius:5px;
    // background: rgb(229, 229, 229);
    background: rgb(251, 251, 251);
    margin:5px 10px;
    padding-bottom: 10px;
}
.comments{
    border: 1px solid lightgrey !important;
    border-radius: 23px !important;
    height: 40px;
    padding-left: 20px;
}