<div class="background">
  <div class="row banner">
    <div class="col-sm-2">
      <img src="assets/img/logo.jpeg" class="rounded logo" alt="Fourm" width="200" height="60"> 
    </div>
    <div class="col-sm-7">
      <div class="input-group">
        <input  type="text" class="form-control search" placeholder="Search">
        <button class="btn btn-light search-btn" type="submit">Go</button>
      </div>
    </div>
      <div class="col-sm-1 login" >
        <div id="sso" [hidden]="userService.getUser()">
        </div>
        <div [hidden]="!userService.getUser()">
          <ng-template #popContent>
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-action">Messages</li>
              <li class="list-group-item list-group-item-action">Bookmarks</li>
              <li class="list-group-item list-group-item-action">Dark Mode 
                <span class="badge rounded-pill bg-primary">OFF</span>
              </li>
              <li class="list-group-item list-group-item-action">Settings</li>
              <li class="list-group-item list-group-item-action">Logout</li>
            </ul>
          </ng-template>
          <img  class="btn btn-outline-secondary me-2"
                referrerpolicy="no-referrer"
                  [src]="userService.getUser()?.pictureUrl"
                  class="profile" alt="Fourm" width="50" height="50"
                  placement="bottom"
                  [ngbPopover]="popContent" popoverTitle="{{userService.getUser()?.name}}  {{userService.getUser()?.email}}">
        </div>
      </div>
      <button [hidden]="!userService.getUser()" class="btn col-sm-2 btn-outline-primary" (click)="createPost()">Create Post</button>
  </div>
  <div class="row" >
    <div class="col-sm-2">helo</div>
    <div class="col-sm-7">
      <app-feed class="row feeds" *ngFor="let feed of userService.feeds" [feed]="feed"></app-feed>
    </div>
    <div class="col-sm-3">helo</div>
  </div>
</div>